*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background: url("../img/firework.jpg");*/
    background-color: #202124;
}

h1{
    font-size: 4rem;
}

h1 .gold{
    color: #ddbc64;
}

.container{
    display: flex;
    width: 40%;
    min-width: 650px;
    justify-content: space-around;
}

.format{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number{
    font-size: 6rem;
}

.text{
    font-size: 16px;
    font-size: 1.5rem;
    color: #ddbc64;
}